.hero__container {
  max-width: 100%;
  padding: 0;
}

.hero {
  background-color: var(--secondary-black-background);
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 60px;
  text-align: center;
  margin: 0 auto;
  @include retina {
    background-image: url(../images/hero-mob-2x.jpg);
  }
  @include tablet {
    background-image: url(../images/hero-tab.jpg);
    padding: 118px 204px;
    @include retina {
      background-image: url(../images/hero-tab-2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/hero-img.jpg);
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    @include retina {
      background-image: url(../images/hero-img-2x.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto 30px;
  @include font(900, 26px, 1.62, 0.06em);
  text-transform: uppercase;
  color: var(--white-color);

  @include desktop {
    width: 696px;
    height: 120px;
    @include font(null, 44px, 1.36, null);
  }
}

.hero__button {
  font-family: inherit;
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;

  @include font(700, 16px, 1.88, 0.06em);
  cursor: pointer;
  background-color: var(--accent-blue-color);
  color: var(--white-color);
}
