.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
  color: var(--accent-blue-color);
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 1.19, null);
  text-decoration: none;
  & > span {
    color: var(--primary-text-color);
  }
  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
